<b> PHOTO LABEL </b>
<%= @workout.photo_label %>



<%= form_for @workout, :html => { :multipart => true } do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
	<b>photo file goes here </b>
	<%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sponsored %><br />
    <%= f.check_box :sponsored %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
<div class="field">
    <%= f.label :fitness_tags %><br />
    <%= f.text_field :fitness_tags %>
  </div>
<div class="field">
    <%= f.label :obstacle %><br />
    <%= f.text_field :obstacle %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.text_field :difficulty %>
  </div>
 <div class="field">
    <%= f.label :MH_suggests %><br />
    <%= f.text_field :MH_suggests %>
  </div>
<div class="field">
    <%= f.label :editor_comments %><br />
    <%= f.text_field :editor_comments %>
  </div>


  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :flagged %><br />
    <%= f.check_box :flagged %>
  </div>
  <div class="field">
    <%= f.label :user_generated %><br />
    <%= f.check_box :user_created %>
  </div>

  <div>
  <div class="field">
  	<b>Obstacle Tags</b>
<br />
	<% @obstacle_tags.each do |tag| %>
		<%= f.label ("obstac_" + tag.tr(" ", "_")).to_sym %><br />
		<%= f.check_box ("obstac_" + tag.tr(" ", "_")).to_sym %><br />
	<% end %>
	</div>
  <div class="field">
  	<b>Fitness Tags</b>
<br />
	<% @fitness_tags.each do |tag| %>
		<%= f.label ("fit_" + tag.tr(" ", "_")).to_sym %><br />
		<%= f.check_box ("fit_" + tag.tr(" ", "_")).to_sym %><br />
	<% end %>
	</div>

		
	    


<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
