<p id="notice"><%= notice %></p>

<%# took this out for heroku purposes%>
<%#= image_tag @workout.photo.url(:thumb), :height => '50', :width => '50'  %>



<%= gmaps4rails(@json)%>


<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>
<b>url:</b>
  <%#= @workout.photo.url %>
</p>
<b>path:</b>
  <%#= @workout.photo.path %>
</p>

<p>
	<b>Location:</b>
	<% begin %>
	<%= @workout.city%>
	<% rescue %>
	ok that didn't work
	<% end %>
<p>
	  <b>Zip Code:</b>
	  <%= @workout.zipcode %>
</p>


<p>
  <b>Description:</b>
  <%= @workout.description %>
</p>

<p>
  <b>Latitude:</b>
  <%= @workout.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @workout.longitude %>
</p>

<p>
  <b>Flagged:</b>
  <%= @workout.flagged %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
