<p id="notice"><%= notice %></p>
<%= link_to 'Home', workouts_path %>

<%= image_tag @workout.photo.url(:thumb), :height => '50', :width => '50'  %>



<%= gmaps4rails(@json)%>


<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>
<p>
  <b>Sponsored:</b>
  <%= @workout.sponsored %>
</p>
<p>
  <b>Created At:</b>
  <%= @workout.created_at %>
</p>
<p>
	<b>Location:</b>
	<% begin %>
	<%= @workout.city%>
	<% rescue %>
	ok that didn't work
	<% end %>



<p>
  <b>Description:</b>
  <%= @workout.description %>
</p>
  <b>Difficulty:</b>
  <%= @workout.difficulty %>
</p>

<p>
  <b>Latitude:</b>
  <%= @workout.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @workout.longitude %>
</p>


<p>
  <b>Editor Comments:</b>
  <%= @workout.editor_comments %>
</p>

<p>
  <b>Obstacle Type:</b>
  <%= @workout.obstacle %>
</p>
<p>
  <b>Fitness Tags:</b>
  <%= @workout.fitness_tags %>
</p>
<p>
  <b>Men's Health Suggests:</b>
  <%= @workout.MH_suggests %>
</p>

<p>
  <b>Flagged:</b>
  <%= @workout.flagged %>
</p>
<p>
  <b>Obstacle Tags:</b>
	<br>

<% @obstacle_tags.each do |tag| %>
	<%= tag + "= " +  @workout.send("obstac_" + tag.tr(" ","_")).to_s    %>  
	<br>
<% end %>
</p>
<p>
  <b>Fitness Tags:</b>
	<br>

<% @fitness_tags.each do |tag| %>
	<%= tag + "= " +  @workout.send("fit_" + tag.tr(" ","_")).to_s    %>  
	<br>
<% end %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
