
<%= link_to 'Home', workouts_path %>

<%= image_tag @workout.photo.url(:thumb), :height => '50', :width => '50'  %>



<%= gmaps4rails(@json)%>


<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>
<p>
  <b>Sponsored:</b>
  <%= @workout.sponsored %>
</p>
<p>
  <b>Created At:</b>
  <%= @workout.created_at %>
</p>
<p>
	<b>Location:</b>
	<% begin %>
	<%= @workout.city%>
	<% rescue %>
	ok that didn't work
	<% end %>



<p>
  <b>Description:</b>
  <%= @workout.description %>
</p>
  <b>Difficulty:</b>
  <%= @workout.difficulty %>
</p>

<p>
  <b>Latitude:</b>
  <%= @workout.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @workout.longitude %>
</p>


<p>
  <b>Editor Comments:</b>
  <%= @workout.editor_comments %>
</p>

<p>
  <b>Men's Health Suggests:</b>
  <%= @workout.MH_suggests %>
</p>

<p>
  <b>Flagged:</b>
  <%= @workout.flagged %>
</p>
<p>
	<p>
	  <b>User Created by user #:</b>
	  <%= @workout.created_by_id %>
	</p>
	<p>

 <%# @workout.workout_tags.each do |tag| %>
<p> 	
<%#= tag.category + " : " + tag.name  %> 
</p>
	<%# end %>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
