<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @workout_tag.category %>
</p>

<p>
  <b>Name:</b>
  <%= @workout_tag.name %>
</p>


<%= link_to 'Edit', edit_workout_tag_path(@workout_tag) %> |
<%= link_to 'Back', workout_tags_path %>
